.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.02);
}
